:host {
    display: flex;
    justify-content: center;
    flex: 1;

    ::ng-deep {
        p-table {
            width: 100%;
            .p-datatable.p-component {
                .p-datatable-wrapper {
                    tabel {
                        border-spacing: 0 1rem;
                    }
                }

            }
        }

        .p-datatable-table {
            border-spacing: 0 1rem;
        }

        p-sidebar .p-sidebar {
            width: 40%;
        }
    }

    .container {
        display: flex;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        place-content: center;
    }

}