<section class="container">
    <app-title [title]="'Management Tool'"></app-title>
</section>
<!-- <p-sidebar [(visible)]="sidebarVisible" position="right"
(onHide)="hide()">
    <h3>Sidebar</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
</p-sidebar> -->
<p-toast position="bottom-right" key="bottom-right"></p-toast>
<router-outlet></router-outlet>